body{
    background: rgb(70, 142, 236);
    font: normal 15pt arial;

}
header{
color: white;
text-align: center;
}

section{
background: white;
border-radius: 5px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 4px  4px 3px black ;
}
 footer{
    font-style:italic;
    text-align: center;
 }
 div{
     margin-top:10px;
 }
