/*media queires */
     html{
          font-size: 50%;
     }
@media (max-width:750px){
     .hero .container{
          flex-direction: column-reverse;
          text-align: center;
     }
     .form-group{
          display: block;
     }
     .form-group .input-control{
          width: 100%;
     }
}
@media (max-width:560px){
     nav {
          display: none;
     }
     .one,  .two, .three{
          background-color: #fff;
          height: 5px;
          width:100%;
          margin: 6px auto;
     }
     .menu-toggle{
          width: 40px;
          height: 30px;
     }
     /*fullscreen*/
     .menu-section.on{
          position: absolute;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          background-color: #7159c1;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .menu-section.on nav{
          display: block;

     }
     .menu-section.on .menu-toggle{
          position: absolute;
          top: 15px;
          right:25px;
     }
     .menu-section.on .menu-toggle .one{
          transform: rotate(45deg) translate(8px,7px);
     }
     .menu-section.on .menu-toggle .two{
          opacity: 0;
     }
     .menu-section.on .menu-toggle .three{
          transform: rotate(-45deg) translate(8px, -7px);
     }
     .menu-section.on nav ul{
          text-align: center;
          display: block;
     }
     .menu-section.on nav ul a{
          transition-duration: 5s;
          font-size: 3rem;
          line-height: 4rem;
          display: block;
     }

}
@media (max-width:320px){
     #form h3{
          font-size: 2rem;
     }
}